### Build ###
/build/
/out/
/target/

### Gradle ###
.gradle/
/gradle-app.setting
!gradle-wrapper.jar
**/build/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Eclipse ###
.settings/
.classpath
.project
bin/

### Logs ###
*.log
logs/

### OS generated ###
.DS_Store
Thumbs.db

### Spring Boot ###
# Application configs (không commit mật khẩu DB)
src/main/resources/application.properties
src/main/resources/application.yml

# Commit file mẫu để dev dùng
!src/main/resources/application-example.properties
!src/main/resources/application-example.yml

### Others ###
*.tmp
*.swp
*.bak
*.lock

application.properties
